@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");

header {
  font-size: 20px;
  text-transform: uppercase;
  border: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: end;
  flex: 30px;
  background-color: #405060;
  color: antiquewhites;
}

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: antiquewhite;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.top:hover,
.left1:hover,
.left2:hover,
.right1:hover,
.right2:hover {
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  opacity: 65%;
  border-color: antiquewhite;
}

body {
  background-color: antiquewhite;
  font-family: "Poppins";
}

.hero {
  background-image: url(images/paul-gilmore-KT3WlrL_bsg-unsplash.jpg);
  background-size: cover;
  height: 600px;
  padding: 1em;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 4rem;
  color: blanchedalmond;
  text-transform: uppercase;
  letter-spacing: 5px;
  outline: 5px solid #fff;
  outline-offset: 0.25em;
  display: inline-block;
  margin: 0.25em 300px 0.5em;
}

h3 {
  font-size: 50px;
  display: flex;
  position: absolute;
  margin: 1px;
  margin-top: -99px;
  margin-left: 70px;
  outline: 5px solid #fff;
  outline-offset: 0.25em;
}

.about-me {
  font-size: 25px;
  margin: 128px 56px 195px 290px;
  border: 0px;
  display: flex;
  justify-content: center;
  padding: 15px;
  outline: 5px solid #fff;
  outline-offset: 0.25em;
}

h1 {
  font-size: 50px;
  display: flex;
  position: absolute;
  margin: 1px;
  margin-top: -88px;
  margin-left: 70px;
  outline: 5px solid black;
  outline-offset: 0.25em;
}

.top {
  display: flex;
  position: static;
  border: 5px;
  border-color: black;
  border-style: solid;
  padding: 300px;
  background-image: url(images/Screenshot1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project1 {
  display: flex;
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  margin: -154px 0px;
  padding: 50px 123px;
  background-color: antiquewhite;
}

.left1 {
  float: left;
  width: 25%;
  padding: 180px;
  border: 5px;
  border-color: black;
  border-style: solid;
  background-image: url(images/depositphotos_219989508-stock-illustration-project-team-engineers-website-create.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.left2 {
  float: left;
  width: 25%;
  padding: 180px;
  border: 5px;
  border-color: black;
  border-style: solid;
  background-image: url(images/web.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.right1 {
  float: left;
  width: 25%;
  padding: 180px;
  border: 5px;
  border-color: black;
  border-style: solid;
  background-image: url(images/iuriimotov190100072.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.right2 {
  float: left;
  width: 25%;
  padding: 180px;
  border: 5px;
  border-color: black;
  border-style: solid;
  background-image: url(images/7afc281448aad5df4f567968b19e5733.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  display: flex;
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  margin: 227px 0px;
  padding: 25px 45px;
  background-color: antiquewhite;
}

.project3 {
  display: flex;
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  margin: 227px 742px;
  padding: 25px 45px;
  background-color: antiquewhite;
}

.project4 {
  display: flex;
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  margin: 638px 0px;
  padding: 25px 45px;
  background-color: antiquewhite;
}

.project5 {
  display: flex;
  position: absolute;
  border: 5px;
  border-color: black;
  border-style: solid;
  margin: 638px 742px;
  padding: 25px 45px;
  background-color: antiquewhite;
}

footer {
  font-size: 50px;
  margin-top: 150px;
  text-decoration: underline;
}

nav {
  float: right;
  margin-right: 50px;
  margin-top: -28px;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}
